@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #07090F;
  --foreground: #FFFFFF;
  --panel: #1C1E23;
  --active-bg: #272626;
  --orange: #EDB055;
  --yellow: #EDAF54;
  --green: #60BC94;
  --blue: #6492EC;
  --purple: #7764EC;
  --red: #D87B7A;
  --input: #2A2D31;
  --input-dark: #1B1D22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
